body {
  background-color: #f5f8fa;
  width: 100%;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1.125em;
  line-height: 1.5;
  /* Enable Kerning where possible */
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1"; }

.wrapper {
  max-width: 640px;
  margin: 0 auto; }

header {
  background-color: #ffffff;
  margin-top: 125px;
  text-align: center;
  border-bottom: 6px solid #99A5AD; }
  header img {
    margin-top: -54px; }

nav {
  margin: 20px 0; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block; }

nav a, nav a:hover, nav a:focus, nav a:visited {
  text-decoration: none;
  color: #515254;
  margin: 0 25px;
  border-bottom: 1px solid #515254; }

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 2.369em; }

h2 {
  font-size: 1.777em; }

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #515254;
  font-size: 1.333em; }

h4 {
  font-weight: 400;
  color: #515254;
  font-size: 1em;
  margin: 15px 0; }

.phrase {
  text-align: center;
  margin: 50px 10px;
  color: #515254; }
  .phrase img {
    width: 24px; }

.main {
  background-color: #ffffff;
  border-bottom: 6px solid #99A5AD; }

.posts,
.projects {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 350px; }
  .posts ul,
  .projects ul {
    list-style-type: none;
    padding-left: 10px;
    margin: 0; }
  .posts li,
  .projects li {
    color: #515254; }
  .posts a,
  .projects a {
    color: #9C251F;
    text-decoration: none; }
    .posts a:hover, .posts a:focus,
    .projects a:hover,
    .projects a:focus {
      border-bottom: 1px solid #9C251F; }

.posts {
  padding-bottom: 30px; }

.projects {
  padding-bottom: 10px; }

.about {
  text-align: center;
  margin: 60px 35px;
  color: #515254; }
  .about h2 {
    font-family: "Roboto Slab", serif; }

.social {
  margin-top: 32px; }
  .social a {
    color: #515254;
    text-decoration: none;
    margin: 8px; }

/*************************

    MEDIA QUERIES

*************************/
/*
   This is where the design breaks
   I based this upon the main H1 breaking onto two lines,
   discovered by using: http://responsivepx.com/
*/
@media screen and (max-width: 600px) {
  /* Styles */
  body {
    font-size: 1em; }

  .wrapper {
    max-width: 100%; }

  h1 {
    font-size: 2.369em; } }
@media screen and (max-width: 505px) {
  h1 {
    font-size: 1.7em; } }
